@import "../../src/styles/colors.scss";

// create a bg color for a container class
.container {
  background-color: $blue-500;
}

.content {
  max-width: 1200px;
  margin: 0px auto;
  padding: 2rem 1rem 12rem;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;

  // media querie for mobile
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 2rem 1rem 6rem;
    gap: 2rem;
  }
}

.button {
  font-size: 1rem;
  color: $white;
  opacity: 0.8;
  border: 0px;
  padding: 0px 2rem;
  height: 3rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: $blue-400;
}
